body {
	background-color: #FFF;
}

article#artigo {
	background-color: white;
	border: solid #000 2px;
	margin: 1px -1px 50px -1px;
}

img#miak {
	width: 287px;
	margin: 2px 1px 70px 300px;
	border: solid #000 1px;
}

img#sasha {
	width: 280px;
	margin: 2px 1px 70px 120px;
	border: solid #000 1px;
}

h1 {
	text-align: center;
	background-color: darkred;
	color: white;
	font-family: arial;
	font-size: 26pt;
	border: solid darkred 10px;
	margin: -1px -1px 1px -1px;
}

h2#w {
	text-align: center;
	font-family: arial;
}

h2#h {
	text-align: center;
	font-family: arial;
	font-size: 23pt;
}

h2#or {
	text-align: center;
	margin: -270px 1px 1px 8px;
	font-size: 17pt;
	font-family: arial;
}